@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* color */
/* .bg-primary {
    background: #404e4f;
} */

/* .bg-secondary {
    background: #ededed;
}

.bg-accent {
    background: #ffef84;
} */

/* text */
body {
    color: white;
    @apply text-lg bg-primary;
}

/* .text-accent {
    color: #222222;
} */

.mobile-nav {
    @apply block md:hidden fixed top-10 px-1 py-5 w-full h-full bg-primary duration-500 text-2xl font-bold;
}

nav li a {
    @apply px-4 py-2;
}

nav li a:hover {
    @apply text-secondary;
}